html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.navbar-brand {
    background-image: url("/img/anniehaak_small.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 4px 4px;
}