/*
    https://bootswatch.com/superhero/
    http://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp
*/

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}
.footer {
    padding-top: 5px;
    text-align: center;
}
.navbar-brand {
    background-image: url("/img/anniehaak_small.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 4px 4px;
}


@media (max-width: 767px) {
    .nav-pills>li {
        float: none;
    }
}